.header {
  background-color: #2874f0;
  min-height: 7rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo {
  font-size: 2.8rem;
  text-align: center;
  color: #f7f7f7;
}

.nav {
  font-size: 2.2rem;
  color: #f7f7f7;
}

.item-count {
  font-size: 2.2rem;
  margin-left: 1.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 100%;
  background-color: #fb641b;
}
